.section-contact {
    background-color: #fafafa;

    .section-inner {
        
        article {
            padding-top: 10em;
        }

        form {
            width: fit-content;
            padding-bottom: 10em;
            margin: 0 auto;
            margin-top: 8em;
            display: flex;
            flex-direction: column;

            .wrapper-input {

                input[type=text], input[type=tel], input[type=email] {
                    width: 20em;
                    padding: 1.2em 2em;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 1.4rem;
                    color: #061e37;
                    outline: none;
                    margin: 0 auto;
                    margin-bottom: 1.5em;
                }
            
                input:nth-child(1) {
                    margin-right: 3em;
                }
                input:nth-child(4) {
                    margin-right: 3em;
                }
            }
         
            textarea {
                font-size: 1.4rem;
                width: 100%;
                height: 11em;
                padding:  1.5em 1.5em;
                margin-bottom: 3em;
                border-radius: 5px;
                outline: none;
            }

            .checkbox {
                display: flex;
                justify-content: space-between;
                align-items: center;

                /*Checkboxes styles*/
                input[type="checkbox"] { display: none; }
                
                input[type="checkbox"] + label {
                    display: block;
                    position: relative;
                    padding-left: 2em;
                    font: 1.6rem  sans-serif;
                    font-family: "Raleway";
                    font-weight: 500;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                }
                
                input[type="checkbox"] + label:before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 1.5px solid #6cc0e5;
                    position: absolute;
                    border-radius: 5px;
                    left: 0;
                    top: 0;
                    opacity: .6;
                    -webkit-transition: all .12s, border-color .08s;
                    transition: all .12s, border-color .08s;
                }
                
                input[type="checkbox"]:checked + label:before {
                    width: 10px;
                    top: -5px;
                    left: 5px;
                    border-radius: 0;
                    opacity: 1;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }

            #button--submit {
                text-transform: uppercase;
                background-color: #1de9b6;
                border: none;
                font-size: 1.6rem;
                width: 8.12em;
                height: 3.12em;
                border-radius: 5px;
                color: white;
            }
        }   
    }
}
#error {
    font-size: 2.5rem;
    color: red;
}
/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .section-contact {
    
        .section-inner {

            form {
                
                .wrapper-input {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    input[type=text], input[type=tel], input[type=email] {
                        font-size: 1.4rem;
                        margin: 0 auto;
                        margin-bottom: 1.5em;
                    }
                }
    
                textarea {
                    font-size: 1.4rem;
                    width: 100%;
                    height: 11em;
                    padding:  1.5em 1.5em;
                    margin-bottom: 3em;
                }
                
                .checkbox {
                    flex-direction: column;

                    label {
                        font-size: 1.6rem;
                        position: absolute;
                    }
        
                    button {
                        font-size: 1.6rem;
                        margin-top: 2em;
                    }
                }
            }
    
        }
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .section-contact {
    
        .section-inner {

            form {
                display: flex;
    
                .wrapper-input {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                   
                    input[type=text], input[type=tel], input[type=email]  {
                        font-size: 1.4rem;
                        margin: 0 auto;
                        margin-bottom: 1.5em;
                    }
                }

                .checkbox {
                    flex-direction: column;

                    label {
                        font-size: 1.6rem;
                        position: absolute;
                    }

                    button {
                        font-size: 1.6rem;
                        margin-top: 2em;
                    }
                }
            }
        }
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
    
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {
}