.section-header {
    background: url(../img/backgr.jpg) no-repeat 50% 50% ;
    background-size: cover;
    height: 100vh;
    color:$color-white;

.section-inner {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
    &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(43, 222,197, .9);
    }

    &-wrapper {   
        display: flex;
        align-items: flex-end;
        margin-top: 11em;
        justify-content: space-between;

        &__logo {
            display: flex;

            &_img {
                align-self: center;
            }

            &_text {
                @include  font-fourth();
                margin: 0 0 0 0.7em;
                font-weight: bold;
                white-space: nowrap;
                font-size: 1.4rem;
           }
        }

        &__nav {
            display: flex;

            a {
                margin-left: 3em;
                @include font-main();
                color:$color-white;
                font-size: 1.5rem;
            }
            a:hover {
                color: #061e37;
            }
        }

        button {
            width: 80px;
            height: 25px;
            background:none;
            border: 1px solid #ffffff;
            border-radius: 2px;
            font-size: 1.2rem;
            color:$color-white;
        }
    } 

    .section-header-wrapper__content {
        display: flex;
        margin-top: 165px;
        justify-content: space-between;

        &-title {
            border: 1px solid red;
            display: flex;
            flex-direction:  column;
            width: 60%;

            &_extraBold {
                @include font-main();
                font-size: 5.5rem;
                font-weight: 800;
                text-transform: uppercase;
            }

            &_regular {
                @include font-main();
                font-size: 1.8rem;
                font-weight: 'regular';
                margin-bottom: 2em;
                line-height: 1.6em;
            }
        }

        &-button {
            display: flex;
            border: 1px solid red;
            height: 100%;
            align-items: flex-end;

            &_buy {
                button {
                    @include button ();
                    margin-right: 30px;
                }         
            }
            
            &_try {
                button {
                    @include button ();
                    background: #ffff;
                    font-weight: bold;
                }        
            }  
        }

        &-video {
            width: 600px;
            height: 320px;
            
            video {
             width: 100%;
             height: auto;
            }

        // &-video {
        //     display: inline-flex;
        //     width: 100%;
        //     position: relative;
        //     width: fit-content;
        //     border: 1px solid red;

            // &-video {
            //     position: absolute;
            //     bottom: 0px;
            //     right: 0;
            //     display: flex;
            //     justify-content: center;
            //     z-index: 3;

        //     p {
        //         position: absolute;
        //         margin-top: 175px ;
        //         text-transform: uppercase;
        //         @include font-main();
        //         font-weight: bold;
        //         color: #061e37;
        //     }

        //     &-button__play {
        //         background-color: #061e37;
        //         border: none;
        //         position: absolute;
        //         width: 60px;    
        //         height: 60px;
        //         border-radius: 5px;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         margin-top: 100px ;
        //     }

        //     &-button__play::before {
        //         content: "";
        //         width: 0;
        //         height: 0;
        //         border-style: solid;
        //         border-width: 6px 0 6px 10px;
        //         border-color: transparent transparent transparent #ffff;
        //     }
        // }

        // &-video::before {
        //     content: "";
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     background: url(../img/video-backgr.jpg) no-repeat 50% 50% ;
        //     border-radius: 5px;
        }
    }
}

// .section-header-wrapper__content-video{
//     overflow: hidden;
//     // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
//     padding-top: 56.25%;
//     position: relative;
//   }
   
//   .section-header-wrapper__content-video iframe {
//      border: 0;
//      height: 100%;
//      left: 0;
//      position: absolute;
//      top: 0;
//      width: 100%;
//   }


// &__form {
//     display: inline-flex;
//     width: 100%;
//     position: relative;
//     width: fit-content;
//     border: 1px solid red;

    
//     &-button-buy {
//         button {
//             @include button ();
//             margin-right: 30px ;
//         }         
//     }
    
//     &-button-try {
//         button {
//             @include button ();
//             background: #ffff;
//             margin-right: 500px;
//             font-weight: bold;
//         }        
//     }  

//     &-video {
//         position: absolute;
//         bottom: 0px;
//         right: 0;
//         display: flex;
//         justify-content: center;
//         z-index: 3;

//         p {
//             position: absolute;
//             margin-top: 175px ;
//             text-transform: uppercase;
//             @include font-main();
//             font-weight: bold;
//             color: #061e37;
//         }
        
//         iframe {
//             border-radius: 5px;
//             height:300px;
//             width: 580px;
//         }

//         &-button__play {
//            background-color: #061e37;
//            border: none;
//            position: absolute;
//            width: 60px;    
//            height: 60px;
//            border-radius: 5px;
//            display: flex;
//            justify-content: center;
//            align-items: center;
//            margin-top: 100px ;
//         }

//         &-button__play::before {
//             content: "";
//             width: 0;
//             height: 0;
//             border-style: solid;
//             border-width: 6px 0 6px 10px;
//             border-color: transparent transparent transparent #ffff;
//         }
//     }

//     &-video::before {
//         content: "";
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         background: url(../img/video-backgr.jpg) no-repeat 50% 50% ;
//         border-radius: 5px;
//     }
// }



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .section-header-wrapper__content-title_extraBold {
        @include font-main();
        font-size: 25px;
        font-weight: 800;
        text-transform: uppercase;
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .section-header-wrapper__content-title_extraBold {
        @include font-main();
        font-size: 25px;
        font-weight: 800;
        text-transform: uppercase;
        display: none;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
 
    .section-header-wrapper__content {
        display: flex;
        margin-top: 165px;
        justify-content: space-between;

        &-title {
            border: 1px solid red;
            display: flex;
            flex-direction:  column;
            width: 60%;

            &_extraBold {
                @include font-main();
                font-size: 5.5rem;
                font-weight: 800;
                text-transform: uppercase;
            }

            &_regular {
                @include font-main();
                font-size: 1.8rem;
                font-weight: 'regular';
                margin-bottom: 2em;
                line-height: 1.6em;
            }
        }

        &-button {
            display: flex;
            border: 1px solid red;
            height: 100%;
            align-items: flex-end;

            &_buy {
                button {
                    @include button ();
                    margin-right: 30px;
                }         
            }
            
            &_try {
                button {
                    @include button ();
                    background: #ffff;
                    font-weight: bold;
                }        
            }  
        }

        &-video {
            widows: 100%;
            max-height: 100%;
            border: 2px solid red;
        }}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {
}
