.section-team {
    .section-inner {
    .wrapper-slider-team {
        margin: 0 auto;
        width: fit-content;
        
            .wrapper-img {
                display: flex;
                align-items: center;
                position: relative;
                margin: 50em  0 30em 0;

                .img {
                    width: 100px;
                    height: 100px;
                    user-select: none;
                    border-radius: 50%;
                    opacity: 20%;
                    box-sizing: content-box;
                }

                .img-center {
                    transform: scale(1.5);
                    opacity: 1;
                    border: 10px solid #ffff;
                    margin: 0 40em;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                .arrowRight {
                    z-index: 1;
                    width: 100px;
                    height: 100px;
                    user-select: none;
                    border-radius: 50%;
                    opacity: 0;
                    box-sizing: content-box;
                    position: absolute;
                    right: 0;
                    background-color: red;
                }
            
                .arrowLeft {
                    @extend .arrowRight;
                    left: 0;
                    background-color: blue;
                }        
            }
        }
    }
}