.wrapper-triple {
    display: flex;

    .img-1 {
        display: block;
        width: 500px;
        height: 300px;
        user-select: none;
        position: relative;
    }
    .slider {
        display: none;
    }

    .mystyle {
        display: block;
    }

    .index-1 {
        position: absolute;
        width: 500px;
        height: 300px;
        z-index: 1;
    }
    .index-2 {
        @extend .index-1;
        margin-left: 1000px;
    }
}

