* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, a, div, p, h1, li, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

.section-outer {
  width: 100%;
  min-width: 3px;
}

.section-inner {
  width: 93%;
  margin: 0 auto;
}

.section-inner h1 {
  font-size: 45px;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
}

.section-header {
  background: url(../img/backgr.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  color: #ffff;
}

.section-header .section-inner {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(43, 222, 197, 0.9);
}

.section-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header-wrapper__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header-wrapper__logo_img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-header-wrapper__logo_text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 'ExtraBold';
  margin: 0 0 0 10px;
  white-space: nowrap;
}

.section-header-wrapper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 'SemiBold';
}

.section-header-wrapper__nav a {
  margin-left: 45px;
  color: #ffff;
}

.section-header-wrapper__nav a:hover {
  color: #061e37;
}

.section-header-wrapper button {
  width: 80px;
  height: 25px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 12px;
  color: #ffff;
}

.section-header .section-header-wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header .section-header-wrapper-content_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid red;
}

.section-header .section-header-wrapper-content_title__extraBold {
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  font-weight: 800;
  margin: 165px  0 24px;
  text-transform: uppercase;
}

.section-header .section-header-wrapper-content_title__regular {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 'regular';
  margin-bottom: 40px;
  line-height: 30px;
}

.section-header .section-header-wrapper-content__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid red;
}

.section-header .section-header-wrapper-content__form-button-buy button {
  width: 159px;
  height: 54px;
  background: #061e37;
  border: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  margin-right: 30px;
}

.section-header .section-header-wrapper-content__form-button-try button {
  width: 159px;
  height: 54px;
  background: #061e37;
  border: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  background: #ffff;
  margin-right: 500px;
  font-weight: bold;
}

.section-header .section-header-wrapper-content__form-video {
  position: absolute;
  bottom: 0px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.section-header .section-header-wrapper-content__form-video p {
  position: absolute;
  margin-top: 175px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #061e37;
}

.section-header .section-header-wrapper-content__form-video iframe {
  border-radius: 5px;
  height: 300px;
  width: 580px;
}

.section-header .section-header-wrapper-content__form-video-button__play {
  background-color: #061e37;
  border: none;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.section-header .section-header-wrapper-content__form-video-button__play::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent #ffff;
}

.section-header .section-header-wrapper-content__form-video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/video-backgr.jpg) no-repeat 50% 50%;
  border-radius: 5px;
}

.section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-services-text {
  font-size: 15px;
  line-height: 25px;
  color: #b0bec5;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}

.section-services-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  min-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  padding: 25px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px 3px #f4f4f4;
          box-shadow: 4px 4px 4px 3px #f4f4f4;
  margin-top: 20px;
}

.section-services-statistics-wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-statistics-wrapper-icons-text {
  font-size: 15px;
  color: #061e37;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  position: relative;
  right: 260px;
}

.section-services-statistics-wrapper-icons i {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #061e37;
}

.section-services-statistics-wrapper-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  cursor: pointer;
  padding: 26px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .section-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-text {
    font-size: 15px;
    line-height: 25px;
    color: #b0bec5;
    font-family: "Raleway";
    font-weight: 400;
    text-align: center;
  }
  .section-services-statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    min-width: 250px;
    width: 100%;
    border: 2px solid red;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    padding: 25px;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 4px 3px #f4f4f4;
            box-shadow: 4px 4px 4px 3px #f4f4f4;
    margin-top: 20px;
  }
  .section-services-statistics-wrapper-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-services-statistics-wrapper-icons-text {
    font-size: 15px;
    color: #061e37;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: relative;
    border: 2px solid red;
  }
  .section-services-statistics-wrapper-icons i {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #061e37;
  }
  .section-services-statistics-wrapper-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    cursor: pointer;
    padding: 26px;
  }
}

.section-footer {
  background-color: #061e37;
  height: 250px;
  padding-top: 75px;
  color: #ffff;
}

.section-footer .section-header-wrapper {
  margin-top: 0px;
}

.section-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-footer-wrapper__privacy a {
  font-size: 15px;
  color: #627181;
  font-family: "Raleway";
  font-weight: 400;
  margin-right: 40px;
}

.section-footer-wrapper__social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer-wrapper__social-logo img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.wrapper {
  border: 5px solid red;
}

.wrapper .img {
  display: block;
  width: 500px;
  height: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .arrowDown, .wrapper .arrowUp {
  cursor: pointer;
  border: 30px solid red;
  border-right: 43px solid #ff4400;
  width: 0;
  height: 0;
}

.wrapper-triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-triple .img-1 {
  display: block;
  width: 500px;
  height: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.wrapper-triple .slider {
  display: none;
}

.wrapper-triple .mystyle {
  display: block;
}

.wrapper-triple .index-1, .wrapper-triple .index-2 {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 1;
}

.wrapper-triple .index-2 {
  margin-left: 1000px;
}

/*==================================================
    media queries
==================================================*/
/*Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up)*/
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*.video {
    height: 40%;
  }*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
  html {
    font-size: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
/*# sourceMappingURL=main.css.map */