// === Mixins === 
@mixin font-main {
    font-family: 'Open Sans', sans-serif;
}

@mixin font-secondary {
    font-family: 'Roboto', sans-serif;
}

@mixin font-third {
    font-family: 'Courier New', Courier, monospace;
}

@mixin font-fourth {
    font-family: 'Raleway', sans-serif;
}
// === Mixins === 


// === button === 
@mixin button() {
    width: 159px;
    height: 54px;
    background: #061e37;
    border: none;
    font-size: 1.5rem;
    @include font-secondary();
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 400;
}
// === / button === 

// === Colors === 
    $color-white:#ffff;
// === Colors === 

// === Common === 
* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body,a,div,p,h1,li,ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    @include font-main;
    list-style: none;
    // border: 2px solid red;
} 

body {
    font-size: 1.6rem;
}

.section-outer {
    width: 100%;
    min-width: 3px;
}

.section-inner {
    width: 93%;
    margin: 0 auto;
}


// === wrapper-title === 
@import "article";
// === / wrapper-title ===


// === Common === 

// === header === 
@import "header";
// === / header ===


// === promo === 
.section-promo {}
// === / promo ===


// === counts === 
@import "counts";
// === / counts ===

// === services === 
@import "services";
// === / services ===

// === customers === 
.section-customers {}
// === / customers ===


// === team === 
.section-team {}
// === / team ===

// === contact === 
@import "contact";
// === / contact ===


// === footer === 
@import "footer";
// === / footer ===


// === double slider === 
@import "double_slider";
// === / double slider  ===

// === triple slider === 
@import "triple-slider";
// === / triple slider  ===


/*==================================================
    media queries
==================================================*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*.video {
    height: 40%;
  }*/
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
    
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1500px) {
}

// === Slider === 
// body, #slider, .wrap, .slide-content {
//   margin: 0;
//   padding: 0;
//   font-family: Arial, Helvetica, sans-serif;
//   width: 100%;
//   height: 100vh;
// }

// .wrap {
//   position: relative;
// }

// .slide {
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// .slide1 {
//   background-image: url("https://static.pexels.com/photos/302889/pexels-photo-302889.jpeg");
// }
// .slide2 {
//   background-image: url("https://static.pexels.com/photos/302892/pexels-photo-302892.jpeg");
// }
// .slide3 {
//   background-image: url("https://static.pexels.com/photos/226633/pexels-photo-226633.jpeg");
// }

// .slide-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
// }

// .slide-content span {
//   font-size: 5rem;
//   color: #fff;
// }

// .arrow {
//   cursor: pointer;
//   position: absolute;
//   top: 50%;
//   margin-top: -35px;
//   width: 0;
//   height: 0;
//   border-style: solid;
// }

// #arrow-left {
//   border-width: 30px 40px 30px 0;
//   border-color: transparent #fff transparent transparent;
//   left: 0;
//   margin-left: 30px;
// }

// #arrow-right {
//   border-width: 30px 0 30px 40px;
//   border-color: transparent transparent transparent #fff;
//   right: 0;
//   margin-right: 30px;
// }

// // === sortable table === 
// table {
//     border-collapse: collapse;

//   }
//   th, td {
//     border: 1px solid black;
//     padding: 40px;
//   }
//   th {
//     cursor: pointer;
//   }
//   th:hover {
//     background: yellow;
//   }



// //   regherh
// table {
//     border-collapse:collapse;
// }

// td {
// 	background-color: black;
// 	border: 3px solid white;
// 	font-size:80px;
// 	color:#ffffff;
// 	border-radius: 10px 10px 10px 10px;
// }

// .table1 {
//     width: 300px;
//     height: 300px;
//     background-color: red;
//     border: 1px solid black;
// }



