* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, a, div, p, h1, li, ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

* {
  font-size: 62.5%;
}

.section-outer {
  width: 100%;
  min-width: 3px;
}

.section-inner {
  width: 93%;
  margin: 0 auto;
}

.section-inner h1 {
  font-size: 4.5rem;
  color: #061e37;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  margin-top: 100px;
}

.section-header {
  background: url(../img/backgr.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  color: #ffff;
}

.section-header .section-inner {
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(43, 222, 197, 0.9);
}

.section-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header-wrapper__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-header-wrapper__logo_img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-header-wrapper__logo_text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 'ExtraBold';
  margin: 0 0 0 10px;
  white-space: nowrap;
}

.section-header-wrapper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 'SemiBold';
}

.section-header-wrapper__nav a {
  margin-left: 45px;
  color: #ffff;
}

.section-header-wrapper__nav a:hover {
  color: #061e37;
}

.section-header-wrapper button {
  width: 80px;
  height: 25px;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 12px;
  color: #ffff;
}

.section-header .section-header-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 165px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header .section-header-wrapper__content-title {
  width: 150%;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-header .section-header-wrapper__content-title_extraBold {
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  font-weight: 800;
  text-transform: uppercase;
}

.section-header .section-header-wrapper__content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid red;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-header .section-header-wrapper__content-button_buy button {
  width: 159px;
  height: 54px;
  background: #061e37;
  border: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  margin-right: 30px;
}

.section-header .section-header-wrapper__content-button_try button {
  width: 159px;
  height: 54px;
  background: #061e37;
  border: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  background: #ffff;
  font-weight: bold;
}

.section-header .section-header-wrapper__content-video {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  position: relative;
}

.section-header .section-header-wrapper__content-video-form {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
}

.section-header .section-header-wrapper__content-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .section-header-wrapper__content-title_extraBold {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .section-header-wrapper__content-title_extraBold {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    display: none;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-header-wrapper__content-title_extraBold {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    display: none;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
  .section-header-wrapper__content-title_extraBold {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
.section-counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16em;
}

.section-counts-business {
  background-color: #80d8ff;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-counts-business p {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  margin-left: 6%;
}

.section-counts-downloads {
  background-color: #82b1ff;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-counts-downloads p {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  margin-left: 6%;
}

.section-counts-free-installs {
  background-color: #b388ff;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-counts-free-installs p {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  margin-left: 6%;
}

.section-counts-pro-users {
  background-color: #ea80fc;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-counts-pro-users p {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.5rem;
  font-family: 'Raleway', sans-serif;
  margin-left: 6%;
}

.section-counts .ellipse {
  width: 6.5em;
  height: 6.5em;
  background-color: #ffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-counts .ellipse img {
  width: 35%;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .section-counts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 15em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-counts-business {
    width: 50%;
  }
  .section-counts-business p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts-downloads {
    width: 50%;
  }
  .section-counts-downloads p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts-free-installs {
    width: 50%;
  }
  .section-counts-free-installs p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts-pro-users {
    width: 50%;
  }
  .section-counts-pro-users p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts .ellipse {
    width: 4em;
    height: 4em;
  }
  .section-counts .ellipse img {
    width: 35%;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .section-counts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 17em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-counts-business {
    width: 50%;
  }
  .section-counts-business p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts-downloads {
    width: 50%;
  }
  .section-counts-downloads p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts-free-installs {
    width: 50%;
  }
  .section-counts-free-installs p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts-pro-users {
    width: 50%;
  }
  .section-counts-pro-users p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .section-counts .ellipse {
    width: 4.5em;
    height: 4.5em;
  }
  .section-counts .ellipse img {
    width: 35%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-counts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 22em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-counts-business {
    width: 50%;
  }
  .section-counts-business p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .section-counts-downloads {
    width: 50%;
  }
  .section-counts-downloads p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .section-counts-free-installs {
    width: 50%;
  }
  .section-counts-free-installs p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .section-counts-pro-users {
    width: 50%;
  }
  .section-counts-pro-users p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .section-counts .ellipse {
    width: 6em;
    height: 6em;
  }
  .section-counts .ellipse img {
    width: 35%;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
  .section-counts {
    height: 20em;
  }
  .section-counts p {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .section-counts .ellipse {
    width: 8.5em;
    height: 8.5em;
  }
  .section-counts .ellipse img {
    width: 35%;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
.section-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-services-text {
  font-size: 15px;
  line-height: 25px;
  color: #b0bec5;
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
}

.section-services-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  min-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  padding: 25px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px 3px #f4f4f4;
          box-shadow: 4px 4px 4px 3px #f4f4f4;
  margin-top: 20px;
}

.section-services-statistics-wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-services-statistics-wrapper-icons-text {
  font-size: 15px;
  color: #061e37;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  position: relative;
  right: 260px;
}

.section-services-statistics-wrapper-icons i {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #061e37;
}

.section-services-statistics-wrapper-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  cursor: pointer;
  padding: 26px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .section-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-services-text {
    font-size: 15px;
    line-height: 25px;
    color: #b0bec5;
    font-family: "Raleway";
    font-weight: 400;
    text-align: center;
  }
  .section-services-statistics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 800px;
    min-width: 250px;
    width: 100%;
    border: 2px solid red;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    padding: 25px;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 4px 3px #f4f4f4;
            box-shadow: 4px 4px 4px 3px #f4f4f4;
    margin-top: 20px;
  }
  .section-services-statistics-wrapper-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-services-statistics-wrapper-icons-text {
    font-size: 15px;
    color: #061e37;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    position: relative;
    border: 2px solid red;
  }
  .section-services-statistics-wrapper-icons i {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #061e37;
  }
  .section-services-statistics-wrapper-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    cursor: pointer;
    padding: 26px;
  }
}

.section-footer {
  background-color: #061e37;
  height: 250px;
  padding-top: 75px;
  color: #ffff;
}

.section-footer .section-header-wrapper {
  margin-top: 0px;
}

.section-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-footer-wrapper__privacy a {
  font-size: 15px;
  color: #627181;
  font-family: "Raleway";
  font-weight: 400;
  margin-right: 40px;
}

.section-footer-wrapper__social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer-wrapper__social-logo img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.wrapper {
  border: 5px solid red;
}

.wrapper .img {
  display: block;
  width: 500px;
  height: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .arrowDown, .wrapper .arrowUp {
  cursor: pointer;
  border: 30px solid red;
  border-right: 43px solid #ff4400;
  width: 0;
  height: 0;
}

.wrapper-triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-triple .img-1 {
  display: block;
  width: 500px;
  height: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.wrapper-triple .slider {
  display: none;
}

.wrapper-triple .mystyle {
  display: block;
}

.wrapper-triple .index-1, .wrapper-triple .index-2 {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 1;
}

.wrapper-triple .index-2 {
  margin-left: 1000px;
}

/*==================================================
    media queries
==================================================*/
/*Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up)*/
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*.video {
    height: 40%;
  }*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1499.98px) {
  html {
    font-size: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
/*# sourceMappingURL=main.css.map */